body {
	font-family: var(--ff);
	// background: var(--c-dark1);
	// color: var(--c-white);
}

html._overflow {
	overflow: hidden;

	body {
		overflow: hidden;
	}
}


.container {
	max-width: calc(1500px + 40px);
	padding: 0 20px;
	width: 100%;
	margin-inline: auto;
}

.title {
	color: var(--c-link);
	font-size: 30px;
	letter-spacing: 0.9px;
	max-width: 622px;

&__underline{
	display: block;
	padding-bottom: 50px;
	border-bottom: 1px solid rgb(66, 65, 65);
}
    
}



.btn {
	color: var(--c-link);
    font-size: 18px;
    line-height: 155%;
    letter-spacing: 0.7px;

    border: 1px solid var(--c-link);
	background: none;
    border-radius: 32px;

}



.desc {
	color: var(--c-body);
	font-size: 16px;
	font-weight: 400;
	line-height: 160%;
	max-width: 460px;
	margin-bottom: 40px;
	@include mobile {
		font-size: 14px;
	}
}


//

.info {
	display: grid;
	grid-template-columns: 2.5fr 3fr 0.5fr 3fr;
	grid-template-rows: 1fr 1fr;

	margin-top: 60px;
	margin-bottom: 100px;

	grid-row-gap: 20px;
	grid-column-gap: 15px;
}

.block:nth-child(1) {
	grid-column-start: 2;
}
.block:nth-child(2) {
	grid-column-start: 4;
}
.block:nth-child(3) {
	grid-column-start: 2;
}
.block:nth-child(4) {
	grid-column-start: 4;
}