.cost {

    &__info{
        display: grid;
        grid-template-columns: 2.5fr 3fr 3fr 0.5fr;
        gap: 40px;

        margin-top: 50px;
    }

    &__text {
        color: rgb(66, 65, 65);
        font-size: 20px;
        font-weight: 300;
        line-height: 155%;
        letter-spacing: 0.7px;

        
    }

    #cost__text{
        grid-column-start: 2;
    }
    #cost__text2{
        max-width: 419px;
    }
}
