.footer {
  &__container {
    display: grid;
    grid-template-columns: 2fr 4.5fr 2fr 1.5fr;
    @include desktop-small{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;

    @include desktop-small{
      display: none;
    }
  }

  &__link {
    color: var(--c-link);
    font-size: 18px;
    line-height: 155%;
    letter-spacing: 0.7px;
  }

  &__btn {
    font-size: 14px;
    grid-column-start: 4;
  }
}
