.header {
  background-image: url("./../img/main-bg.png");
  background-size: cover;
  aspect-ratio: 1920 / 1080;

  &__container {

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
  }

  &__nav {
  }

  &__ul {
    display: flex;
    gap: 20px;
  }

  &__li {
    display: flex;
    align-items: center;

    position: relative;
  }

  &__link {
  }
}

.active {
    display: block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: black;
  
    position: absolute;
    left: -10px;
  }
  
  .hiden {
    display: none;
  }

