.steps {

    &__info-title {
        color: black;
        font-size: 24px;
        font-weight: 300;
        line-height: 155%;
        letter-spacing: 0.7px;

        margin-bottom: 20px;

        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__info-text {
        color: rgb(66, 65, 65);
        font-size: 20px;
        font-weight: 300;
        line-height: 155%;
        letter-spacing: 0.7px;
    }

    &__photos {
        display: flex;
        gap: 34px;

        margin-bottom: 100px;

        @include desktop-small {
            flex-direction: column;
            text-align: center;

            gap: 20px;
        }
    }
}

